.fullNavigationCont {
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  top: 0px;
  margin: 0 auto;
  gap: 250px;
  backdrop-filter: blur(10px);
}
.navBackdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.fullNavigationCont a {
  font-size: 28px;
  color: #646464;
  padding: 5px 10px;
  text-decoration: none;
}

.label {
  display: flex;
  flex-direction: column;
  width: 55px;
  cursor: pointer;
  margin-left: 15px;
  position: absolute;
  top: 20px;
}
.displayNone {
  display: none;
}
.cartContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartCount {
  position: absolute;
  top: -5px;
  width: 15px;
  height: 15px;
  font-size: 9.5px;
  text-decoration: none;
  background: rgb(54, 54, 54);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -6px;
}
.navigationBar {
  position: fixed;
  z-index: 10;
}
.navigationText {
  display: none;
}
.hamburgerContainer {
  display: none;
}
@media only screen and (max-width: 1300px) {
  .fullNavigationCont {
    justify-content: space-around;
    gap: 0;
  }
}
@media only screen and (max-width: 650px) {
  .fullNavigationCont {
    flex-direction: column;
    width: 80vw;
    position: absolute;
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    padding: 0 20px;
    gap: 20px;
    background: rgba(0, 0, 0, 0.363);
    right: -80vw;
    transition: right 0.3s;
    margin-top: 68px;
  }
  .cartContainer {
    width: 100%;
  }
  .hamburgerContainer {
    display: flex;
    width: 100vw;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.253);
  }
  .navigationText {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .fullNavigationCont a {
    font-size: 28px;
    color: #ffffff;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 18px;
   
  }
  .displayNone {
    display: flex;
  }
  .fullNavigationCont {
    padding-top: 150px;
  }
}
