a {
  color: rgb(255, 93, 43);
  font-size: 28px;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
}
nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  position: fixed;
  padding-top: 30px;
  z-index: 2;
  backdrop-filter:blur(10px);
}
.wishCount{
  background: rgb(255 91 91);
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center ;
  color: white;
  font-weight: 700;
  position: absolute;
  right: -7px;
  top: -3px;
}
.wishContainer{
  position: relative;
}
.cartContainer{
  position: relative;
}
.cartCount{
  position: absolute;
  font-size: 12px;
  top: -4px;
  right: -3px;
  background: rgb(255, 82, 39);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}